{% extends "template.twig" %}

{% block header_button_left %}
    <a href="{{ retourLink }}" data-icon="back">{{ retour|replace({'_':' '}) }}</a>
{% endblock %}

{% block header %}
    <h1>{{ dossierCourant|replace({'_':' '}) }}</h1>
{% endblock %}

    {% block content %}
        {% if dossiers|length > 0 %}
            <ul data-role="listview" data-inset="true" data-filter="false">

                {% for dossier in dossiers %}
                    <li>
                        <a href="{{ currentUrl }}/{{ dossier }}">
                            &#9654; {{ dossier|replace({'_':' '}) }}
                        </a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if fichiers|length > 0 %}
            <div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed-icon="arrow-r"
                 data-collapsed="false"
                 data-expanded-icon="arrow-d" data-inset="false">
                <h2>Fichiers</h2>
                <ul data-role="listview">
                    {% for fichier in fichiers %}
                        <li><a target="_blank" href="{{ fichier.url }}">{{ fichier.nom|replace({'_':' '}) }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    {% endblock %}