{% extends "template.twig" %}

{% block header_button_left %}
    <a href="{{ folder.getParent().getUrl() }}" data-icon="back">{{ folder.getParent().getName() }}</a>
{% endblock %}

{% block header %}
    <h1>{{ folder.getName() }}</h1>
{% endblock %}

    {% block content %}
        {% if folder.hasFolders() %}
            <ul data-role="listview" data-inset="true" data-filter="false">

                {% for dossier in folder.getFolders() %}
                    <li>
                        <a href="{{ dossier.getUrl() }}">
                            &#9654; {{ dossier.getName() }}
                        </a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if folder.hasFiles() %}
            <div data-role="collapsible" data-theme="b" data-content-theme="d" data-collapsed-icon="arrow-r"
                 data-collapsed="false"
                 data-expanded-icon="arrow-d" data-inset="false">
                <h2>Fichiers</h2>
                <ul data-role="listview">
                    {% for fichier in folder.getFiles() %}
                        <li><a target="_blank" href="{{ fichier.getUrl() }}">{{ fichier.getName() }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    {% endblock %}